---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: demo-app-ingress
  namespace: ingress-basic
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  rules:
  - http:
      paths:
      - backend:
          serviceName: demo-app
          servicePort: 80
        path: /demo-app(/|$)(.*)
      - backend:
          serviceName: demo-app
          servicePort: 80
        path: /(.*)