---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: human-connection-ingress
  namespace: {{ include "hc.namespace" . }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  rules:
  - http:
      paths:
      - backend:
          serviceName: backend
          servicePort: 4000
        path: {{ include "hc.backend.url" .}}/(.*)
      - backend:
          serviceName: backend
          servicePort: 4000
        path: /(.*)