
name: Production deployment

on:
  push:
    branches:
      - master

env:
  AZURE_RESOURCE_GROUP: redsol-RG
  AZURE_APP_PLAN: actions-ttt-deployment
  AZURE_LOCATION: '"Central US"'
  #################################################
  ### USER PROVIDED VALUES ARE REQUIRED BELOW   ###
  #################################################
  #################################################
  ### REPLACE USERNAME WITH GH USERNAME         ###
  AZURE_WEBAPP_NAME: redsol-ttt-app
  #################################################

